<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#book-open` | relURL }}"/>
        </svg>
        <h2 class="h2">Log Your Workouts <small class="d-none">🛡️</small></h2>
        <p>Track all your workouts and lifts, all in one convenient place.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#pie-chart` | relURL }}"/>
        </svg>
        <h2 class="h2">Graph Your Progress <small class="d-none">🚀</small></h2>
        <p>Create beautiful, custom, visualizations of your progress.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2">Smash Your Goals <small class="d-none">📈</small></h2>
        <p>Set realistic targets you can work towards.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Coach Your Clients <small class="d-none">🦉</small></h2>
        <p>Have all your clients' data all in one spot and be able to adjust and make recommendations to their workout plans.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Share With Friends <small class="d-none">✨</small></h2>
        <p>Share your charts and progress with your friends on your favorite social media platforms.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Cross Platform Connectivity <small class="d-none">🧰</small></h2>
        <p>Connect StrengthCurve to Apple Health, Strava, FitBit, and more.</p>
    </div>
</div>
